@model UserViewModel 

<form action="login" method="post">
    @Html.LabelFor(e=>e.Username)
  @Html.TextBoxFor(e=>e.Username)
    
    <input type="hidden" asp-for="ReturnUrl">
   
     @Html.LabelFor(e=>e.Password)
    @Html.TextBoxFor(e=>e.Password)
    @Html.CheckBoxFor(e=>e.RememberMe)
   
   
    <input type="submit" title="Login">
</form>
